name: project-workflow


on:  
  push:
    branches:
       - "*"  
env: 
  RUN_ID: ${{ github.run_id }} 
  BUILD_BRANCH: '5.2.0' 
  BUILD_TYPE: 'FULL'
  BUILD_REPO: 'nightly' 
  OS: 'd11'
  REPO: 'i2util'
  ARTIFACT_ID: '20137205313'
 
jobs:
       
  build-project:
 
    runs-on: ubuntu-latest

    steps:

        - name: Capture start date and time
          id: start_time
          run: echo "start_time=$(date -u)" >> $GITHUB_ENV
 
        - name: Check out Repo
          uses: actions/checkout@v4
          with:
            ref: master
          
        - name: Fetch workflow script from projects
          env:
             github-token: ${{ secrets.GIT_ACTIONS }}
          run: |
            git clone https://github.com/cs1867/project.git project
            case "${{ env.OS }}" in
              'ol8'|'el9')
                 cp project/toolbox/workflows/create-el-repo.sh .
                 ;;
              'd11'|'d12'|'u20'|'u22'|'u24')
                ls -al
                echo "copy file"
                cp project/toolbox/workflows/create-db-repo.sh .
                pwd 
                ls -al 
                cat create-db-repo.sh
                ;;
            esac
             
        - name: Download artifacts
          run: |

            mkdir -p artifacts
               echo "Downloading artifact for $repo"
              echo "rund id $run_id"
              gh run download ${{ env.ARTIFACT_ID }} --repo cs1867/${{ env.REPO }} -D artifacts/${{ env.REPO }} --name "${{ env.REPO }}-${{ env.OS }}"  
              artifact_path="artifacts/${{ env.REPO }}"
              pwd
              echo "list artifact path"
              ls -al "$artifact_path"
              case "${{ env.BUILD_OS }}" in
                'ol8'|'el9')
                  mkdir -p artifacts/RPMS
                  echo "copy to the artifacts RPM dir"
                  cp "$artifact_path"/RPMS/*.rpm artifacts/RPMS
                 ;;
                'd11'|'d12'|'u20'|'u22'|'u24')  
                  mkdir -p artifacts/debian
                  ls -al artifacts/${{ env.REPO }}/*
                  cp artifacts/${{ env.REPO }}/* artifacts/debian
                  echo "list the copied files"
                  ls -al artifacts/debian
                  exit 1
                  ;;
              esac
          env:
            GITHUB_TOKEN: ${{ secrets.GIT_ACTIONS }}

           
        - name: Set up SSH
          run: |
            mkdir -p ~/.ssh
            
        - name: Install SSH Key
          uses: shimataro/ssh-key-action@v2
          with:
            key: ${{ secrets.SERVER_SSH_KEY }}
            known_hosts: ${{ secrets.SERVER_HOST }}

    
        - name: sign and copy artifact to server
          run: |
            echo "Prep the keys"
            echo "${{ secrets.GPG_PRIVATE_KEY }}" > private.key
            echo "${{ secrets.GPG_PASSPHRASE }}" | tr -d '\r\n' > passphrase.txt
            chmod 600 private.key passphrase.txt

            echo "import keys"
            gpg --batch --import private.key
            KEYID=$(gpg --list-secret-keys --with-colons | awk -F: '/^sec/ { print $5; exit }')
            echo "KEYID=$KEYID" >> $GITHUB_ENV
            echo "KEYID=$KEYID" 
              
            # Write variables to the file
            echo "write variables to file"
            file="variables.txt"
            echo "repo=$repo" > $file
            echo "build_branch=${{ env.BUILD_BRANCH }}" >> $file

            case "${{ env.OS }}" in
            'ol8'|'el9')
              if [ "${{ env.OOS }}" = 'ol8' ]; then
                echo "ol8"
                os_version="8"
                os_dir="el"
                echo "os_version=$os_version" >> $file
                echo "os_dir=$os_dir" >> $file
             else
               echo "el9"
               os_version="9"
               os_dir="el"
               echo "os_version=$os_version" >> $file
               echo "os_dir=$os_dir" >> $file
             fi

              echo "Create the repo"
              curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - --run create-el-repo.sh . "${{ env.OS }}"
              
              echo "Call the oneshot signer"
              
              curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-signer/main/sign \
              | sh -s - --passphrase passphrase.txt ./artifacts/RPMS "$KEYID"

              echo "update the repo info"
              curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - --run create-el-repo.sh . "${{ env.OS }}" 
   
              echo "Rsync to the distro servers"
              ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p ${{ secrets.SERVER_PORT }} distro@${{ secrets.SERVER_HOST }} "mkdir -p /home/distro/distro/rpm/${{ env.REPO }}/$os_dir/$os_version/x86_64/perfsonar/${{ env.BUILD_BRANCH }}/RPMS"
              rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p ${{ secrets.SERVER_PORT }}" ./artifacts/RPMS/ distro@${{ secrets.SERVER_HOST }}:/home/distro/distro/rpm/${{ env.BUILD_REPO }}/$os_dir/$os_version/x86_64/perfsonar/${{ env.BUILD_BRANCH }}/RPMS
            ;;
            'd11'|'d12'|'u20'|'u22'|'u24')  
              case "${{ env.OS }}" in
              'd11') 
                os_dir="debian" 
                os_version="11" 
                echo "os_version=$os_version" >> $file
                echo "os_dir=$os_dir" >> $file
                echo "** print contents of file ***"
                cat "$file"
                echo "*****"
                echo "update the repo info"
                curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - --run create-db-repo.sh . "${{ env.OS }}" 
                ;;
              'd12') os_dir="debian"; os_version="12" 
                echo "update the repo info"
                curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - --run create-db-repo.sh . "${{ env.OS }}" 
                ;;
              'u20') os_dir="ubuntu"; os_version="20" 
                echo "update the repo info"
                curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - --run create-db-repo.sh . "${{ env.OS }}" 
                ;;
              'u22') os_dir="ubuntu"; os_version="22" 
                echo "update the repo info"
                curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - --run create-db-repo.sh . "${{ env.OS }}" 
                ;;
              'u24') os_dir="ubuntu"; os_version="24" 
                echo "update the repo info"
                curl -s https://raw.githubusercontent.com/perfsonar/docker-oneshot-builder/main/build | sh -s - --run create-db-repo.sh . "${{ env.OS }}" 
                ;;
              esac

             ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p ${{ secrets.SERVER_PORT }} distro@${{ secrets.SERVER_HOST }} "mkdir -p /home/distro/distro/debian/${{ env.REPO }}/$os_dir/$os_version/perfsonar/${{ env.BUILD_BRANCH }}"
              rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p ${{ secrets.SERVER_PORT }}" ./artifacts/ distro@${{ secrets.SERVER_HOST }}:/home/distro/distro/debian/${{ env.REPO }}/$os_dir/$os_version/perfsonar/${{ env.BUILD_BRANCH }}
             ## rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p ${{ secrets.SERVER_PORT }}" ./artifacts/ distro@${{ secrets.SERVER_HOST }}:/home/distro/distro/debian/${{ env.BUILD_REPO }}/${{ env.BUILD_OS }}
            ;;
            esac 

 
        
        - name: Add and display end time in BUILD_VARS_JSON
          run: |
            echo "$updated_json"
            echo "Misson accomplished!!"
            
